body{
  width: 100%;
  color: #fff;
  background-color: #333;
  font-family: 'Orbitron', sans-serif;
  font-size: 5rem;
}

.clock {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  letter-spacing: 1rem;
}
